---
navbar_name: work
layout: default
order: 2
---

<p>5+ years of software development projects, including a combination of paid work, coursework, and personal projects.</p>

{% assign featured = site.projects | where_exp:"item", "item.category contains 'current-work'" | reverse %}
{% for post in featured %}
    {% include project_preview.html %}
{% endfor %}
{% assign featured = site.projects | where_exp:"item", "item.category contains 'past-work'" | reverse %}
{% for post in featured %}
    {% include project_preview.html %}
{% endfor %}
</div>