@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --heading-font: 'Jetbrains Mono', monospace;
  --body-font: 'Alegreya', serif;
  --subheading-font: 'Jetbrains Mono', monospace;
  --background-color: #3F6562;
  --border-color: #ccd3d7;
  --body-background-color: #F0F0F0;
  --opposite-color: #1bd2b3;
  --text-color: #000000;
  --link-color: #1bd2b3;
  --accent-color: #C4D790;
  --shadow-color: black;
}

body {
  background-color: var(--background-color);
  padding-left: 12vw;
  padding-right: 12vw;
  padding-top: 6vh;
  padding-bottom: 6vh;
  font-family: var(--body-font);
  color: var(--text-color);
  line-height: 2;
}

h1 {
  color: var(--background-color);
  font-family: var(--heading-font);
  font-size: 4em;
  line-height: 1;
  font-weight: bold;
}

h2 {
  color: var(--background-color);
  font-size: 2em;
  line-height: 2;
  font-weight: bold;
}

h3 {
  color: var(--background-color);
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  line-height: 1;
  font-weight: bold;
}

p {
  font-size: 1.25em;
  line-height: 1.5em;
  margin-bottom: 4px;
  margin-top: 4px;
  color: var(--text-color);
}

a {
  color: var(--background-color);
  text-decoration: underline;
}

img {
  width: 100%;
}

p.image-caption {
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  margin-bottom: 24px;
}

.background-black {
  background-color: var(--text-color);
}

h1.top-header {
  font-size: 3em;
  color: var(--body-background-color);
  text-align: center;
  margin-bottom: 0;
}

p.top-header {
  font-size: 1.5em;
  margin-top: 0.5em;
  color: var(--accent-color);
  text-align: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
}

.home h1 {
  margin-bottom: 0
}

.home p {
  font-family: var(--body-font);
  font-size: 1.5em;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 4em;
  row-gap: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  flex-wrap: wrap;
  max-width: 80vw;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.links a {
  font-family: var(--subheading-font);
  color: var(--body-background-color);
  text-decoration: none;
  font-weight: bold;
}

.links a.selected {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color)
}

.portfolio-main {
  background-color: var(--body-background-color);
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.portfolio-main h1 {
  margin-top: 32px;
}

.project-preview-container {
  display: flex;
  flex-direction: column;
}

.project-preview {
  display: flex;
  height: unset;
  width: 100%;
  flex-direction: row;
  gap: 1em;
  padding-bottom: 16px;
  padding-top: 16px;
  border-bottom: 2px solid var(--border-color);
}

.project-preview h4 {
  font-size: 1.5em;
  margin: 0;
}

.project-image-container {
  width: 200px;
  height: 150px;
  flex: 1;
}

img.project-image {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 3;
}

.date-range {
  font-family: var(--subheading-font);
  color: var(--background-color);
  font-size: 0.75em;
  margin: 0;
}

.project-info .project-description {
  font-family: var(--body-font);
  font-size: 1em;
  margin: 0;
}

.project-skillsets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.project-skill {
  background-color: var(--accent-color);
  color: var(--text-color);
  border-radius: 4px;
  font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
}

.footer {
  padding-top: 4vh;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: var(--accent-color);
  margin: 0;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 32px;
}

.social-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.filter-invert {
  filter: invert(100%);
}

.profile-image-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-image {
  display: inline;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  min-width: 250px;
  min-height: 250px;
}

.profile-img-small {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.masonry-container {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.masonry-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1vw;
}

.image {
  overflow: hidden;
  transition: 0.1s;
  display: inline-block;
  align-items: left;
  align-self: left;
  position: relative;
  border-radius: 0px;
  border-bottom: none;
}

.cover {
  width: 100%;
  height: unset;
  object-fit: contain;
}

.gallery {
  padding: 1em;
}

.gallery-title {
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.back-link {
  width: fit-content;
  border-bottom: 2px solid var(--background-color);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

summary {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-bottom: 2px solid var(--border-color);
  align-items: center;
}

summary p {
  line-height: 2em;
}

.panel {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.accordion-right {
  margin-left: auto;
}

.align-right {
  text-align: right;
  margin-left: auto;
}

.input {
  font-family: var(--heading-font);
}

p:has(.button) {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.button {
  padding: 8px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid var(--text-color);
  transition: 0.3s;
  background-color: transparent;
}

p:has(.img-button) {
  margin-left: auto;
  margin-right: auto;
}

.img-button img {
  width: 150px;
  text-decoration: none;
  object-fit: contain;
}

.button:hover {
  background-color: var(--accent-color);
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (max-width: 800px) {
  body {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  .portfolio-main {
    margin: 0;
  }

  #root {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .project-preview {
    flex-direction: column;
  }

  .project-image-container {
    width: 100%;
    flex-grow: 1;
  }

}