<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!--
    <link href="https://fonts.googleapis.com/css2?family=Oswald&&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap" rel="stylesheet">
    -->
  <link rel="icon" type="image/x-icon" href="/assets/images/jitter/jitter1.jpg">
  <title>Caroline Dinh</title>
</head>

<body>
  <div id="root">
    {% if page.url != '/' %}
    <a class="flex-col" href="{{ '/' | relative_url }}">
      <img class="profile-img-small" src="{{ 'assets/images/profile/art.jpg' | relative_url }}">
      <h1 class="top-header">Caroline Dinh</h1>
      <p class="top-header">Software developer & creative technologist</p>
    </a>
    {% endif %}
    <div class="links">
      {% assign sections = site.pages | where_exp: "item", "item.navbar_name != nil" | sort: "order" %}
      {% for section in sections %}
      {% if page.navbar_name == section.navbar_name %}
      <a class="navlink selected" href="{{ section.url }}">
        cd ~/{{ section.navbar_name }}
      </a>
      {% else %}
      <a class="navlink" href="{{ section.url }}">
        cd ~/{{ section.navbar_name }}
      </a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="portfolio-main {{ page.additional_page_classes }}">
      {% if page.navbar_name == nil and page.url != '/' %}
        <a class="back-link" onclick="window.history.back()">← cd ..</a>
      {% endif %}
        {{ content }}
      {% if page.navbar_name == nil and page.url != '/' %}
        <a class="back-link" onclick="window.history.back()">← cd ..</a>
      {% endif %}
    </div>
    <div class="footer">
      <p>Built with 🤘🏻 by Caroline Dinh</p>
      <div class="social-icons">
        <a class="social-icon-link filter-invert" href="https://github.com/caroldinh/" target="_blank">
          <img class="social-icon" src="{{ 'assets/images/github_cropped.svg' | relative_url }}">
        </a>
        <a class="social-icon-link filter-invert" href="https://www.linkedin.com/in/caroline-d-5b8a64218/"
          target="_blank">
          <img class="social-icon" src="{{ 'assets/images/linkedin_cropped.svg' | relative_url }}">
        </a>
        <a class="social-icon-link" href="https://orcid.org/0009-0005-7165-5172" target="_blank">
          <img class="social-icon" src="{{ 'assets/images/orcid.svg' | relative_url }}">
        </a>
        <a class="social-icon-link filter-invert" href="https://urlocalcyb.org/"
          target="_blank">
          <img class="social-icon" src="{{ 'assets/images/palette_cropped.svg' | relative_url }}">
        </a>
      </div>
    </div>
</body>
</body>

</html>